---
const date = new Date(Date.now()).getFullYear();
---
<div class="h-32 flex justify-center items-center">
    <div><a href="https://github.com/projectaki" target="_blank">@projectaki </a>- {date}</div>
</div>
