<section
  id="home"
  class="p-2 min-h-[100vh] pt-0 sm:pt-24 flex justify-center items-center"
>
  <div class="flex px-16 flex-col lg:flex-row gap-32">
    <div class="flex justify-center items-center">
      <div class="flex flex-col gap-4">
        <div class="text-6xl lg:text-6xl font-bold text-white">
          <h2>
            <strong
              class="bg-clip-text text-transparent bg-gradient-to-l from-[#7C34B3] to-[#34b37c]"
              >Akos</strong
            ><br />
            Madarasz.
          </h2>
        </div>
        <div class="text-white">Fullstack Software Engineer</div>
        <a
          class="bg-[#B37C34] w-fit px-4 py-2 rounded-sm flex items-center gap-2 text-black font-bold"
          href="https://github.com/projectaki"
          target="_blank"
          ><img
            class="w-[32px] h-[32px]"
            src="/assets/github.png"
            alt="github logo"
          />Github</a
        >
      </div>
    </div>
    <div class="flex justify-center items-center">
      <img width="300px" src="/assets/spinner.svg" alt="home section logo" />
    </div>
  </div>
</section>
