<section class="p-2 bg-black min-h-[100vh] pt-24 flex justify-center items-center">
  <div class="flex px-16 flex-col lg:flex-row">
    <div class="flex justify-center items-center p-[10%]">
      <div class="flex flex-col gap-4">
        <div class="text-6xl lg:text-6xl font-bold text-white">
          <strong
            class="bg-clip-text text-transparent bg-gradient-to-l from-[#84C7D0] to-[#34b37c]"
            >Akos</strong
          ><br />
          Madarasz.
        </div>
        <div class="text-white">Fullstack software engineer</div>
      </div>
    </div>
    <div class="flex justify-center items-center p-[10%]">
      <img src="/assets/home_logo.svg" alt="home section logo" />
    </div>
  </div>
</section>
