<nav class="flex relative justify-center items-center text-white">
    <h1 class="absolute left-8 text-xl font-bold"><strong class="text-[#34b37c]">A.</strong> M.</h1>
    <ul class="flex gap-8 text-md" >
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#stack">Stack</a></li>
    </ul>
</nav>