<nav class="flex relative justify-center items-center">
    <div class="absolute left-8">logo</div>
    <ul class="flex gap-8">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>