<div class=" rounded-sm flex justify-center items-center">
    {Astro.props.logoUrl && (
      <img
        src={Astro.props.logoUrl}
        alt={Astro.props.logoAlt}
        class="w-32 h-32"
      />
    )}
</div>